@inherits LayoutComponentBase
@inject IJSRuntime js;

<div class="page @getThemeClass()">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <button class="theme-switcher oi @getIconClass()" @onclick="changeTheme">
            </button>
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string selectedTheme = "Light";

    protected override async Task OnInitializedAsync()
    {
        var savedTheme = await js.InvokeAsync<string>("getFromLocalStorage", "theme");
        if(!string.IsNullOrEmpty(savedTheme))
        {
            selectedTheme = savedTheme;
        }
    }

    private bool IsSelected(string option)
    {
        return option == selectedTheme;
    }

    private string getThemeClass()
    {
        switch(selectedTheme)
        {
            case "Light": return String.Empty;
            case "Dark" : return "dark-mode";
            default: return String.Empty;
        }
    }

    private string getIconClass()
    {
        switch (selectedTheme)
        {
            case "Light": return "oi-moon";
            case "Dark": return "oi-sun";
            default: return String.Empty;
        }
    }

    private async Task changeTheme()
    {
        selectedTheme = IsSelected("Light") ? "Dark" : "Light";
        await js.InvokeVoidAsync("addToLocalStorage", "theme", selectedTheme);
    }
}