#avatar {
    background-image: url("icon-192.png");
    background-size: cover;
    background-position: top center;
    border-radius: 5%;
    aspect-ratio: 1 / 1;
    width: 1rem;
}

.infobar {
    background: var(--highlight2);
    padding-left: 1rem;
}
