@page "/about"

<div class="d-flex flex-column gap-2">
    <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="logo" src="/css/assets/Chessnovert-Logo-Bold.svg"></div>
        <p>Copyright &copy; 2022 Shriram Ravindranathan</p>
    </section>

    <section class="d-flex flex-column justify-content-center align-items-center text-center p-2">
        Written by Shriram Ravindranathan
    </section>

    <section class="d-flex flex-column text-start">
        <h5 class="fw-bold text-lg">License</h5>
        <p>
            <a href="https://www.gnu.org/licenses/agpl.txt">AGPLv3</a>: GNU Affero General Public License v3.0 only.
            This is free software: you are free to change and redistribute it.
            There is NO WARRANTY, to the extent permitted by law.
        </p>
        <p>
            As per the provisions of the AGPL, you may download the source code for this application.
            <a href="css/assets/Chessnovert-Logo-Light.svg" download="foo.jpeg" target="_top">
                Chessnovert Source (tar.gz)
            </a>
        </p>
    </section>

    <section class="d-flex flex-column">
        <h5 class="fw-bold text-lg">Exceptions to the License</h5>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Files</th>
                        <th>Original Author</th>
                        <th>Repository</th>
                        <th>License</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>wwwroot/css/assets/kosal</td>
                        <td><a href="https://github.com/philatype">philatype</a></td>
                        <td><a href="https://github.com/philatype/kosal">GitHub</a></td>
                        <td><a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


</div>

@code {

}
