#board-container {
    display: grid;
}

#board {
    grid-area: board-area;
}

#game-info-panel {
    grid-area: game-info-panel;
    align-self: start;
    display: grid;
    height: 65vh;
    grid-template-rows: 1fr 7fr;
    grid-row-gap: 0;
    align-items:start;
}

    #game-info-panel > table {
        overflow: scroll;
        max-height: 50vh;
    }

.top-infobar {
    grid-area: player-info-top;
    align-self: start;
}

.bottom-infobar {
    grid-area: player-info-bottom;
    align-self: end;
}

@media (max-width: 640.98px) {
    #board-container {
        grid-template-areas:
            "player-info-top"
            "board-area"
            "player-info-bottom"
    }

    #game-info-panel {
        display: none;
    }
}

@media (min-width: 641px) {
    #board-container {
        grid-template-areas:
            "board-area player-info-top"
            "board-area game-info-panel"
            "board-area player-info-bottom"
    }
}
