@page "/game/{GameId:guid}"
@using Chessnovert.Shared
@using Chessnovert.Shared.Chess.Enums
@using Microsoft.AspNetCore.SignalR.Client

@if(found!=null)
{

    if(found==true)
    {
        <Board HubConnection="hubConnection" Game="@game" PlayerColor="@playerColor" />
    }
    else
    {
        <p role="alert">Sorry, there's nothing at this address.</p>
    }
}
else 
{
    <p>Loading</p>
}

@code {

    [Parameter]
    public Guid GameId { get; set; }
    HubConnection hubConnection = new HubConnectionBuilder().WithUrl("https://tl222.local:5001/connect").Build();
    HttpClient httpClient = new();
    bool? found;
    public Chessnovert.Shared.Game? game;
    Color? playerColor;

    protected override async Task OnInitializedAsync(){
        game = await httpClient.GetFromJsonAsync<Chessnovert.Shared.Game>($"https://tl222.local:5001/api/Games/{GameId}");
        if(game != null)
        {
            if(game.PlayerWhite == Guid.Empty)
            {
                // Join as Player White
                playerColor = Color.White;
            }
            else if (game.PlayerBlack == Guid.Empty)
            {
                // Join as Player Black
                playerColor = Color.Black;
            }
            else 
            {
                // Join as Spectator
                playerColor = null;
            }
            Console.WriteLine(playerColor);
            foreach(var move in game.Moves){
                Console.WriteLine("Previously.. " + move.Source + " " + move.Destination);
            }
            await JoinGame();
            found = true;
        }
        else
        {
            found = false;
        }
    }
    async Task JoinGame()
    {
        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinGame",GameId);
    }
}
