#board-container {
    display: grid;
}

#board {
    grid-area: board-area;
}

.top-infobar {
    grid-area: player-info-top;
    align-self: start;
}

.bottom-infobar {
    grid-area: player-info-bottom;
    align-self: end;
}

@media (max-width: 640.98px) {
    #board-container {
        grid-template-areas:
            "player-info-top"
            "board-area"
            "player-info-bottom"
    }
}

@media (min-width: 641px) {
    #board-container {
        grid-template-areas:
            "board-area player-info-top"
            "board-area player-info-bottom"
    }
}

