@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Components</h3>

<Modal Title="My Example Modal"> 
    <h5>Example Modal Content</h5>
</Modal>