@page "/play"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Chessnovert.Shared
@using Microsoft.AspNetCore.SignalR.Client
@*@attribute [Authorize]
@inject HttpClient Http*@
@inject NavigationManager NavManager

<button class="btn btn-outline-primary" @onclick="CreateGame">Create Game</button>
<div>
    @if (Games != null)
    {
        @foreach (Chessnovert.Shared.Game game in Games)
        {
            <div>
                <a href="/game/@game.Id">@game.Id</a>
            </div>
        }
    }
</div>
@code {
    Guid gameId;
    List<Chessnovert.Shared.Game>? Games;
    HttpClient httpClient = new();

    protected override async Task OnInitializedAsync(){
        try
        {
            //TO BE REPLACED WITH: injected http;
            Games = await httpClient.GetFromJsonAsync<List<Chessnovert.Shared.Game>>("https://localhost:44385/api/Games");
        }
        catch (Exception exception)
        {
            //exception.Redirect();
            Console.WriteLine(exception);
        }
    }

    async Task CreateGame(){
        // send current user Id
        var response = await httpClient.PostAsync("https://localhost:44385/api/Games", null);
        if(response.IsSuccessStatusCode)
        {
            //Chessnovert.Shared.Game createdGame = response.Content;
            var content = response.Content;
            Console.WriteLine(content.ToString());
            //NavManager.NavigateTo($"/game/{gameId}");
        }
    }
}