@page "/play"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Chessnovert.Shared
@using Microsoft.AspNetCore.SignalR.Client
@*@attribute [Authorize]
@inject HttpClient Http*@
@inject NavigationManager NavManager

<button class="btn btn-outline-primary" @onclick="CreateGame">Create Game</button>
<div>
    @if (openGames != null)
    {
        @foreach (string gameid in openGames)
        {
            <a href="/game/@gameid">click to take to game page</a>
        }
    }
</div>
@code {
    Guid gameId;
    List<string>? openGames;
    HttpClient httpClient = new();

    protected override async Task OnInitializedAsync(){
        try
        {
            //TO BE REPLACED WITH: injected http;
            openGames = await httpClient.GetFromJsonAsync<List<string>>("https://localhost:44385/api/Games/OpenChallenges");
        }
        catch (Exception exception)
        {
            //exception.Redirect();
            Console.WriteLine(exception);
        }
    }

    async Task CreateGame(){
        gameId = Guid.NewGuid();
        var response = await httpClient.PostAsJsonAsync<Guid>("https://localhost:44385/api/Games", gameId);
        if(response.IsSuccessStatusCode)
        {
            NavManager.NavigateTo($"/game/{gameId}");
        }
    }
}